<form ng-submit="vm.update()">
    <div class="form-group">
        <label for="name">Product Name</label>
        <input id="name" class="form-control" ng-model="vm.product.name"/>
        <p class="red">{{vm.errors.name}}</p>
    </div>
    <div class="form-group">
        <label for="price">Product Price</label>
        <input id="price" class="form-control" 
            ng-model="vm.product.price" type="number" step="0.01"/>
        <p class="red">{{vm.errors.price}}</p>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>