<form ng-submit="vm.search()">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" ng-model="vm.params.name" />
    </div>
    <div class="form-group">
            <label for="minPrice">Min Price</label>
            <input id="minPrice" class="form-control" 
                ng-model="vm.params.minPrice" type="number" step="0.01"/>
    </div>
    <div class="form-group">
        <label for="maxPrice">Max Price</label>
        <input id="maxPrice" class="form-control" 
            ng-model="vm.params.maxPrice" type="number" step="0.01"/>
    </div>
    <div class="form-group">
        <label for="sort">Sort by</label>
        <select class="form-control" id="sort" ng-model="vm.params.sort"
            ng-options="sortOption.value as sortOption.displayName for sortOption in vm.sortOptions">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Product Price</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in vm.products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="vm.remove(product.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<p>{{vm.error}}</p>